h1 {
  color: pink;
  text-align: center;
}

h3 {
  padding: 10px;
  border: 1px dashed black;
}

button {
  float: right;
}

.h3 {
  padding: 10px;
  border: 1px dashed black;
}

.bntB {
  padding: 10px;
  border: 1px dashed black;
}
